include           README.md
include           LICENSE
include           versioneer.py

global-exclude    __pycache__
global-exclude    *.py[co]

graft             xyztraj
graft             tests

prune             .eggs
recursive-include examples
prune             examples/data

recursive-exclude * git .git*
