include           README.md
include           LICENSE
include           versioneer.py

global-exclude    __pycache__
global-exclude    *.py[co]

include           xyztraj/_version.py
graft             xyztraj

prune             .eggs
prune             examples/data

recursive-exclude * git .git*
